%tr
  %td
    = top_ten_bonuses.name.titlecase
  %td        
    = top_ten_bonuses.job_title.titlecase
  %td        
    = top_ten_bonuses.agency.titlecase
  %td        
    = top_ten_bonuses.state_or_country
  %td        
    = number_to_currency(top_ten_bonuses.award_bonus)
