%tr
  %td
    = top_ten_salaries.name.titlecase
  %td        
    = top_ten_salaries.job_title.titlecase
  %td        
    = top_ten_salaries.agency.titlecase
  %td        
    = top_ten_salaries.state_or_country
  %td        
    = top_ten_salaries.base_salary
